KR1/Client/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65506/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65506/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65506/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:65506/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceOnIIS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetOrderData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrderData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProviderData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProviderData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProviderData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProviderDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProvider" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProviderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecCheckOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:RecCheckOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_RecCheckOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecCheckOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecCheckProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:RecCheckProvider" />
  </wsdl:message>
  <wsdl:message name="IService1_RecCheckProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecCheckProviderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetOrderData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrderData" message="tns:IService1_GetOrderData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrderDataResponse" message="tns:IService1_GetOrderData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProviderData" message="tns:IService1_GetProviderData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProviderDataResponse" message="tns:IService1_GetProviderData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertOrder" message="tns:IService1_InsertOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertOrderResponse" message="tns:IService1_InsertOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProvider">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertProvider" message="tns:IService1_InsertProvider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertProviderResponse" message="tns:IService1_InsertProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecCheckOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecCheckOrder" message="tns:IService1_RecCheckOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecCheckOrderResponse" message="tns:IService1_RecCheckOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecCheckProvider">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecCheckProvider" message="tns:IService1_RecCheckProvider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecCheckProviderResponse" message="tns:IService1_RecCheckProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrderData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProviderData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProvider">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecCheckOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/RecCheckOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecCheckProvider">
      <soap:operation soapAction="http://tempuri.org/IService1/RecCheckProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:65506/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>